
<!-- Modal -->
<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title" id="modal-myvalue"></h5>
                <h5 class="modal-title" id="modal-presenter"></h5>
                <h5 class="modal-title" id="modal-date"></h5>

            </div>
            <div class="modal-body container" id="modal-body-review">
                <h2 class="bold padding-bottom-7" id="example">
                </h2>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="rating-block" style="text-align: center;">
                            <h4>Average user rating</h4>
                            <h2 class="bold padding-bottom-7" id="modal-avg">
                                <small>/ 5</small>
                            </h2>
                            <button id="star1" type="button" class="btn btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button id="star2" type="button" class="btn btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button id="star3" type="button" class="btn btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button id="star4" type="button" class="btn  btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button id="star5" type="button" class="btn  btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-7">
                        <hr/>
                        <div class="review-block" id="comment-div">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>