<style>
    body {
        padding-top: 70px;
    }

    .btn-grey {
        background-color: #D8D8D8;
        color: #FFF;
    }

    .rating-block {
        background-color: #FAFAFA;
        border: 1px solid #EFEFEF;
        padding: 15px 15px 20px 15px;
        border-radius: 3px;
    }

    .bold {
        font-weight: 700;
    }

    .padding-bottom-7 {
        padding-bottom: 7px;
    }

    .review-block {
        background-color: #FAFAFA;
        border: 1px solid #EFEFEF;
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    .review-block-name {
        font-size: 12px;
        margin: 10px 0;
    }

    .review-block-date {
        font-size: 12px;
    }

    .review-block-rate {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .review-block-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .review-block-description {
        font-size: 13px;
    }

</style>
<!-- Modal -->
<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title" id="modal-myvalue"></h5>
                <h5 class="modal-title" id="modal-presenter"></h5>
                <h5 class="modal-title" id="modal-date"></h5>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="rating-block" >
                            <h4>Average user rating</h4>
                            <h2 class="bold padding-bottom-7" id="modal-avg">

                            </h2>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <i class="far fa-star"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7">
                        <hr/>
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                    <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                            <i class="far fa-star"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                            <i class="far fa-star"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                            <i class="far fa-star"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-grey btn-xs"
                                                aria-label="Left Align">
                                            <i class="far fa-star"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-grey btn-xs"
                                                aria-label="Left Align">
                                            <i class="far fa-star"></i>
                                        </button>
                                    </div>
                                    <div class="review-block-title">this was nice in buy</div>
                                    <div class="review-block-description">this was nice in buy. this was nice in buy.
                                        this was nice in buy. this was nice in buy this was nice in buy this was nice in
                                        buy this was nice in buy this was nice in buy
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $('#date').datepicker();
</script>