<div class="col-md-12">
    <div class="panel panel-default" id="techtalk-info">
        <div class="panel-heading">
            Tech Talks
            <ul class="pull-right panel-settings panel-button-tab-right">
                <li class="dropdown">
                    <a class="pull-right dropdown-toggle" data-toggle="modal" data-target="#myModal" href="#">
                        <em class="fas fa-plus"></em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <table id="techTalk-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Presenter</th>
                    <th>Intro</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:id="${presentations}">
                <tr th:each="info : ${presentations}">
                    <td th:text="*{info.title}" th:id="*{info.id}"></td>
                    <td th:text="*{info.date}"></td>
                    <td th:text="*{info.presenter}"></td>
                    <td th:text="*{info.intro}"></td>
                    <td><a class="pull-right dropdown-toggle"
                           th:attr="data-myvalue='Review ' + *{info.title}, data-presenter='Presenter: ' + *{info.presenter}, data-date='Date: ' + *{info.date}, data-id=*{info.id}"
                           data-toggle="modal" data-target="#presentationModal" href="#">Review</a></td>
                    <td><a class="pull-right dropdown-toggle" th:id="'btn-review-'+*{info.id}"
                           th:attr="data-myvalue='Review ' + *{info.title}, data-presenter='Presenter: ' + *{info.presenter}, data-date='Date: ' + *{info.date}, data-id=*{info.id}, data-avg=*{#numbers.formatDecimal(info.avgRating, 0, 'COMMA', 2, 'POINT')}"
                           data-toggle="modal" href="#reviewModal" data-target=#reviewModal>View</a></td>
                </tr>
                </tbody>
            </table>
            <h5 class="modal-title" th:text="*{id}"></h5>
        </div>
    </div>

    <script type="application/javascript" th:each="info : ${presentations}">
        /*<![CDATA[*/

        $('#btn-review-'+[[*{info.id}]]).on('click', function () {
            $("#comment-div").html("");
            $.ajax({
                url: "/comments/"+[[*{info.id}]],
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        }).done(function (data) {
                console.log("id: " + data)
                var comments = data;
                comments.forEach(function (element) {
                    var star1 = element[2]>=1?"class='btn btn-warning btn-xs'":"class='btn btn-grey btn-xs'";
                    var star2 = element[2]>=2?"class='btn btn-warning btn-xs'":"class='btn btn-grey btn-xs'";
                    var star3 = element[2]>=3?"class='btn btn-warning btn-xs'":"class='btn btn-grey btn-xs'";
                    var star4 = element[2]>=4?"class='btn btn-warning btn-xs'":"class='btn btn-grey btn-xs'";
                    var star5 = element[2]>=5?"class='btn btn-warning btn-xs'":"class='btn btn-grey btn-xs'";
                    $("#comment-div").append(
                       "<div class='row'>\n" +
                        "                                <div class='col-sm-3'>\n" +
                        "                                    <img src='http://dummyimage.com/60x60/666/ffffff&text=No+Image' class='img-rounded'>\n" +
                        "                                    <div class='review-block-name'><a href='#'>"+element[4]+"</a></div>\n" +
                        "                                    <div class='review-block-date'></div>\n" +
                        "                                </div>\n" +
                        "                                <div class='col-sm-9'>\n" +
                        "                                    <div class='review-block-rate'>\n" +
                        "                                        <button type='button' "+star1+" aria-label='Left Align'>\n" +
                        "                                            <i class='far fa-star'></i>\n" +
                        "                                        </button>\n" +
                        "                                        <button type='button' "+star2+" aria-label='Left Align'>\n" +
                        "                                            <i class='far fa-star'></i>\n" +
                        "                                        </button>\n" +
                        "                                        <button type='button' "+star3+" aria-label='Left Align'>\n" +
                        "                                            <i class='far fa-star'></i>\n" +
                        "                                        </button>\n" +
                        "                                        <button type='button' " +star4+ " \n" +
                        "                                                aria-label='Left Align'>\n" +
                        "                                            <i class='far fa-star'></i>\n" +
                        "                                        </button>\n" +
                        "                                        <button type='button'" +star5+ "\n" +
                        "                                                aria-label='Left Align'>\n" +
                        "                                            <i class='far fa-star'></i>\n" +
                        "                                        </button>\n" +
                        "                                    </div>\n" +
                        "                                    <div class='review-block-description'>\n" +element[3]+
                        "                                    </div>\n" +
                        "                                </div>\n" +
                        "                            </div>\n" +
                        "                            <hr/>"
                    )
                });
            });
        });
        /*]]>*/
    </script>
    <section th:replace="createPresentation"></section>
    <section th:replace="presentationInfo"></section>
    <section th:replace="review"></section>
</div>
